# Задание №1

ФИО - Иванов Илья Игоревич

Вариант - 8

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Введение:

Обработайте данные по следующему датасету.
Варианты:
1. chili_cafe.csv
2. users_profi.csv
3. food.csv  (установить параметр low_memory=False при чтении файла)
4. euro_team.csv
5. fantasy_army.csv
6. cars.csv
7. baby_names.csv
8. online_retail.csv (установить параметр encoding = 'latin1' при чтении файла)
9. tips.csv
10. population.csv

Примечание. При чтении файлов не забудьте удалить столбец 	Unnamed: 0
### Шаг 1. Импортируйте необходимые библиотеки

In [ ]:
import pandas as pd
import numpy as np

### Шаг 2. Импортируйте данные для обработки  и сохраните в отдельную переменную

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/online_retail.csv', encoding = 'latin1')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

### Шаг 3. Выведите первые 10 записей

In [ ]:
data.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/10 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/10 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,1.69,13047.0,United Kingdom

### Шаг 4. Выведите количество записей в наборе данных

In [ ]:
data.shape[0]

541909

### Шаг 5. Выведите количество колонок в наборе данных

In [ ]:
data.shape[1]

8

### Шаг 6. Выведите названия всех колонок в наборе данных

In [ ]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

### Шаг 7. Как индексируется рассматриваемый набор данных?

In [ ]:
data.index

RangeIndex(start=0, stop=541909, step=1)

### Шаг 8. Выведите список столбцов с категориальными значениями

In [ ]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
print("Столбцы с категориальными значениями:", categorical_cols)

Столбцы с категориальными значениями: ['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country']

### Шаг 9. Выведите список столбцов с числовыми значениями

In [ ]:
numeric_cols = data.select_dtypes(include=['int', 'float']).columns.tolist()
print("Столбцы с числовыми значениями:", numeric_cols)

Столбцы с числовыми значениями: ['Quantity', 'UnitPrice', 'CustomerID']

### Шаг 10. Выведите общее количество уникальных значений по каждому столбцу с типом object ("название столбца" - число)

In [ ]:
object_cols = data.select_dtypes(include=['object']).columns
for col in object_cols:
    unique_count = data[col].nunique()
    print(f"{col} - {unique_count}")

InvoiceNo - 25900
StockCode - 4070
Description - 4223
InvoiceDate - 23260
Country - 38

### Шаг 11. Выведите количество уникальных значений для одного (любого, на выбор) столбца с категориальными значениями ("значение_1 - количество  значение 2 - количество ... значение_N - количество")

In [ ]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
unique_values_count = data[categorical_cols[4]].value_counts()
print(f"Количество уникальных значений для столбца {categorical_cols[4]}:")
print(unique_values_count)

Количество уникальных значений для столбца Country:
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

### Шаг 12. Выведите для столбца с категориальными данными самое частовозникающее значение

In [ ]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
most_common_value = data[categorical_cols[4]].mode()[0]
print(f"\nСамое часто встречающееся значение для столбца {categorical_cols[4]}:", most_common_value)

Самое часто встречающееся значение для столбца Country: United Kingdom

### Шаг 13. Выведите  описательную статистику по набору данных как для категориальных, так и для числовых столбцов

In [ ]:
# Описательная статистика для категориальных столбцов
categorical_stats = data.describe(include=['object'])
print("\nОписательная статистика для категориальных столбцов:")
print(categorical_stats)

Описательная статистика для категориальных столбцов:
       InvoiceNo StockCode                         Description  \
count     541909    541909                              540455
unique     25900      4070                                4223
top       573585    85123A  WHITE HANGING HEART T-LIGHT HOLDER
freq        1114      2313                                2369

           InvoiceDate         Country
count           541909          541909
unique           23260              38
top     10/31/11 14:41  United Kingdom
freq              1114          495478

In [ ]:
# Описательная статистика для числовых столбцов
numerical_stats = data.describe()
print("Описательная статистика для числовых столбцов:")
print(numerical_stats)

Описательная статистика для числовых столбцов:
            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

### Шаг 14. По вариантам:

Вариант 1. Подчитайте полную выручку кафе за весь период, представленный в наборе данных

Вариант 2. Вывести userid, у которых одинаковые zip_code

Вариант 3. Удалите столбцы, которые содержат только пустые значения (Nan), а также дубликаты записей.

Вариант 4. Выведите информацию о командах, у которых количество голов (Goals) больше 6, в порядке убывания ударов в створ ворот

Вариант 5. Выведите среднее значение и медиану количества погибших из всео набора данных

Вариант 6. Подсчитайте разницу среднего расхода топлива для автомобилей с количеством лошадинных сил больше и меньше 100

Вариант 7. Подчитайте сколько отдельно мальчиков и девочек родились в штате Флорида (FL) за все года в представленном наборе данных

Вариант 8. На основе данных в колонке InvoiceDate создать 3 колонки: год (Year), месяц (Month), день (Day)

Вариант 9. Определите, кто больше дает чаевые: мужчины или женщины?

Вариант 10. Выведите по каждому году среднее значение прироста в мире

In [ ]:
# Преобразуем столбец "InvoiceDate" в формат даты и времени
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], format='%m/%d/%y %H:%M')

# Создаем новые колонки "Year", "Month" и "Day"
data['Year'] = data['InvoiceDate'].dt.year
data['Month'] = data['InvoiceDate'].dt.month
data['Day'] = data['InvoiceDate'].dt.day

print(data[['InvoiceDate', 'Year', 'Month', 'Day']])

               InvoiceDate  Year  Month  Day
0      2010-12-01 08:26:00  2010     12    1
1      2010-12-01 08:26:00  2010     12    1
2      2010-12-01 08:26:00  2010     12    1
3      2010-12-01 08:26:00  2010     12    1
4      2010-12-01 08:26:00  2010     12    1
...                    ...   ...    ...  ...
541904 2011-12-09 12:50:00  2011     12    9
541905 2011-12-09 12:50:00  2011     12    9
541906 2011-12-09 12:50:00  2011     12    9
541907 2011-12-09 12:50:00  2011     12    9
541908 2011-12-09 12:50:00  2011     12    9

[541909 rows x 4 columns]

### Шаг 15.

Вариант 1. Создайте лямбда-функцию и измените тип цены товара (на float64)

Вариант 2. Создайте лямбда-функцию и измените значение none в столбце occupation на значение self-employed

Вариант 3. Используя метод apply и отдельно объявленную функцию создайте столбец, где будет храниться значение года из столбца created_datetime

Вариант 4. Создайте лямбда-функцию и измените тип точность попадания (Shooting Accuracy)  на вещественное значение

Вариант 5. Создайте лямбда-функцию и измените тип столбца Компания (company) на целочисленное значение

Вариант 6. Создайте  новую колонку в наботе данных, в которой  запишите марку автомобиля из колонки car

Вариант 7. Создайте лямбда-функцию и закодируйте пол детей по следующему правилу: мальчики - 1; девочки - 0

Вариант 8.  Создайте лямбда-функцию и измените тип столбца CustomerID на целочисленное значение

Вариант 9. Создайте лямбда-функцию и закодируйте значения в столбце smoker по следующему правилу: Yes - 1; No - 0

Вариант 10. Удалите столцы с категориальными значениями (кроме столбца с названием стран) из набора данных

In [ ]:
# Удаление значений NaN в столбце 'CustomerID'
data = data.dropna(subset=['CustomerID'])

y = lambda x: int(x)
data['CustomerID'] = data['CustomerID'].apply(y)
data['CustomerID']

<ipython-input-18-2f505802c0ad>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['CustomerID'] = data['CustomerID'].apply(y)

0         17850
1         17850
2         17850
3         17850
4         17850
          ...
541904    12680
541905    12680
541906    12680
541907    12680
541908    12680
Name: CustomerID, Length: 406829, dtype: int64

### Шаг 16.

Вариант 1. Подсчитайте среднюю выручку за заказ

Вариант 2. Подсчитайте отдельно средний возраст у мужчин и у женщин в наборе данных

Вариант 3. Вывести максимальное значение столбца nutrition-score-fr_100g для самого распространенного продукта в наборе данных

Вариант 4. Выведите среднее значение голов для команд, которые были заядлыми нарушителями (имели 1 красную карточку, либо больше 10 желтых карточек)

Вариант 5. Выведите названия миров у фей, где количество дезертировов превышает среднее значение дезертиров по всем армиям

Вариант 6. Выведите для каждой марки максимальный и минимальный вес автомобилей

Вариант 7. Выведите по каждому году 3 самых распростанненых имени у мальчиков и девочек

Вариант 8. Вывести названия стран в порядке убывания количества заказов за  весь временной период, представленный в наборе данных

Вариант 9. Выведите для каждого дня недели средний чек

Вариант 10. Выведите названия стран, у которых за последние 3 года (представленные в наборе данных) был отрицательный прирост

In [ ]:
# Группировка данных по странам и подсчет уникальных заказов
country_order_count = data.groupby('Country')['InvoiceNo'].nunique()

# Сортировка стран по количеству заказов в порядке убывания
sorted_countries = country_order_count.sort_values(ascending=False)

# Вывод названий стран в порядке убывания количества заказов
print(sorted_countries.index)

Index(['United Kingdom', 'Germany', 'France', 'EIRE', 'Belgium', 'Spain',
       'Netherlands', 'Switzerland', 'Portugal', 'Australia', 'Italy',
       'Finland', 'Sweden', 'Norway', 'Channel Islands', 'Japan', 'Poland',
       'Denmark', 'Cyprus', 'Austria', 'Malta', 'Singapore', 'Unspecified',
       'Iceland', 'USA', 'Israel', 'Greece', 'Canada', 'Czech Republic',
       'European Community', 'Lithuania', 'United Arab Emirates',
       'Saudi Arabia', 'Bahrain', 'Lebanon', 'RSA', 'Brazil'],
      dtype='object', name='Country')

## Вывести среднюю стоимость заказа для каждой страны

In [ ]:
# Рассчитываем общую стоимость каждого заказа
data['TotalCost'] = data['Quantity'] * data['UnitPrice']

# Группируем данные по номеру счета и стране, а затем находим общую стоимость каждого заказа для каждой страны
total_cost_by_country_and_invoice = data.groupby(['Country', 'InvoiceNo'])['TotalCost'].sum()

# Рассчитываем среднюю стоимость заказа для каждой страны
average_order_cost = total_cost_by_country_and_invoice.groupby('Country').mean()

print(average_order_cost)

Country
Australia               1986.627101
Austria                  534.437895
Bahrain                  274.200000
Belgium                  343.789580
Brazil                  1143.600000
Canada                   611.063333
Channel Islands          608.675455
Cyprus                   647.314500
Czech Republic           141.544000
Denmark                  893.720952
EIRE                     784.593166
European Community       258.350000
Finland                  465.140417
France                   429.504017
Germany                  367.658723
Greece                   785.086667
Iceland                  615.714286
Israel                  1165.708333
Italy                    307.100182
Japan                   1262.165000
Lebanon                 1693.880000
Lithuania                415.265000
Malta                    250.547000
Netherlands             2818.431089
Norway                   879.086500
Poland                   300.547500
Portugal                 415.140143
RSA                     1002.310000
Saudi Arabia              65.585000
Singapore                912.039000
Spain                    521.662667
Sweden                   795.563261
Switzerland              785.061972
USA                      247.274286
United Arab Emirates     634.093333
United Kingdom           340.830609
Unspecified              333.383750
Name: TotalCost, dtype: float64

<ipython-input-21-019b13d5e58f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TotalCost'] = data['Quantity'] * data['UnitPrice']